:root {
  --primary-color: #0c4a6e;
  --secondary-color: #0284c7;
  --primary-font: Arial, Helvetica, sans-serif;
  --primary-gray: #e7e5e4;
  --secondary-gray: rgb(130, 132, 144);
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --font-size-1: 2rem;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* sets base font size to 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  font-size: 2rem;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto 1fr;
}

.logo {
  width: 2.5rem;
}

.title {
  font-weight: 800;
}

/* sidebar */

.sidebar {
  background-color: var(--primary-color);
  color: white;
  gap: 4rem;
  grid-row: 1/4;
  padding: 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  height: 100vh;
}

.sidebar img {
  filter: invert(1);
}

.sidebar .sidebar-header {
  font-size: var(--font-size-1);
  gap: 1rem;
}

.sidebar .sidebar-header img {
  width: 5.5rem;
}

.sidebar .sidebar-header,
.sidebar .nav ul li {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.sidebar .nav {
  font-size: var(--font-size-1);
}

.nav ul {
  list-style: none;
}

.sidebar .nav ul li {
  margin-bottom: 2rem;
}

/* header */

.header {
  grid-column: 2/4;
  padding: 3rem;
  display: grid;
  grid-template: repeat(2, 1fr), 4fr 1fr;
  gap: 2.5rem;
  box-shadow: var(--box-shadow);
  z-index: 1;
}

.header img {
  width: 3rem;
}

.header .top,
.header .bottom {
  display: flex;
  justify-content: space-between;
}

.header .top .search {
  display: flex;
  flex: 1;
}

label {
  cursor: pointer;
}
.header .top .search,
.header .top .account,
.header .bottom,
.header .bottom .profile,
.header .bottom .menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header .top .search input {
  background: #e5e7eb;
  border-radius: 1.5rem;
  border: unset;
  padding: 1.25rem 2rem;
  width: 80%;
}

.header .account > span:nth-child(2) img {
  width: 4rem;
}

.header .bottom .profile .greetings {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile .greetings span:nth-child(1) {
  font-size: 2rem;
}

.profile .greetings span:nth-child(2) {
  font-size: 3rem;
}

.header .bottom .profile img {
  width: 8rem;
}

.account,
.greetings {
  font-weight: 800;
}

.header .bottom .menu button {
  background: var(--primary-color);
  color: white;
  padding: 1rem 4rem;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 2rem;
  border: unset;
  cursor: pointer;
  width: 12rem;
}

/* Main */
.main {
  display: grid;
  grid-template: 1fr 1fr/ 3fr 1fr;
  background-color: var(--primary-gray);
  padding: 3rem;
  gap: 3rem;
}

.projects,
.announcements,
.trendings {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  background-color: white;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
}

.projects {
  grid-row: 1/3;
}

.projects .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3rem;
}

.cards .card {
  border-left: var(--secondary-color) 1rem solid;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: space-between;
}

.card .card-info {
  color: var(--secondary-gray);
  margin-top: 1rem;
}

.card .icons {
  display: flex;
  justify-content: end;
  gap: 2.5rem;
}

.announcements {
}

.announcements .card {
  padding: 3rem;
}

.announcements .card .announcement {
  padding: 1rem;
}

.announcement:nth-child(1),
.announcement:nth-child(2) {
  border-bottom: 1px solid var(--primary-gray);
}

.trendings {
  grid-column: 2/3;
}
