:root {
  --primary-color: #0c4a6e;
  --primary-font: Arial, Helvetica, sans-serif;
  --font-size-1: 2.3rem;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* sets base font size to 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  font-size: 2rem;
  grid-template-columns: 1fr 2fr 1fr;
}

/* sidebar */

.sidebar {
  background-color: var(--primary-color);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  flex: 1;
  grid-row: 1/4;
}

.sidebar .sidebar-header {
  font-size: var(--font-size-1);
  gap: 1rem;
}

.sidebar .sidebar-header img {
  width: 5.5rem;
  filter: invert(1);
}

.sidebar .nav-1,
.sidebar .nav-2 {
  font-size: var(--font-size-1);
  font-family: var(--primary-font);
}

.nav ul {
  list-style: none;
}

.header {
  background-color: blue;
  grid-column: 2/4;
}

.projects {
  background-color: purple;
  grid-column: 2/3;
  grid-row: 2/4;
}

.announcements {
  background-color: aquamarine;
  grid-column: 3/4;
}

.trendings {
  background-color: brown;
  grid-column: 3/4;
}
